ul.nav li{
      display:inline;
      font-size:30px;
      padding: 0px 50px 0px 50px;
    }
ul.nav a{
  display:inline;
  color:white;
}
.jumbotron {
        background: url("haringeyhouseview.jpg") center;
        color:white;
        text-align:right;
    }
body{
  background-color:grey;
}
.container{
  display:flex;
  flex-wrap:wrap;
}
.navbar{
  position:fixed;
}
