p{
  color:blue;
}
h1{
  color:red;
}
header li{
      display:inline;
      font-size:30px;
      padding: 0px 50px 0px 50px;
    }
ul.nav li{
      display:inline;
      font-size:30px;
      padding: 0px 50px 0px 50px;
    }
ul.nav a{
  display:inline;
  color:white;
}
.jumbotron {
        background: url("img/haringeyhouseview.jpg") center;
        color:white;
        text-align:right;
    }
body{
  background-color:white;
}
.container{
  display:flex;
  flex-wrap:wrap;
}
.navbar{
  position:fixed;
}
