p{
  color:blue;
}
h1{
  color:red;
}
header li{
      display:inline;
      font-size:30px;
      padding: 0px 50px 0px 50px;
    }
ul.nav li{
      display:inline;
      font-size:30px;
      padding: 0px 50px 0px 50px;
    }
ul.nav a{
  display:inline;
  color:white;
}
body{
  background-color:white;
  font-family: 'Cabin', sans-serif;
}
.container{
  display:flex;
  flex-wrap:wrap;
}
.navbar{
  position:fixed;
}
.jumbotron {
          background: url("../img/haringeyhouseview.jpg");
          background-size:cover;
          background-position:center;
          background-repeat:no-repeat;
          min-height: 200px;
          color: white;
  }
.item{
  height:500px;
}
.item-active{
  height:300px;
}
nav{
  z-index:2;
}
col-sm-4{
  padding: 10px 10px 30px 10px;
}
.imglink p{
  opacity: 0.8;
  background-color:grey;
  color: white;
  position: absolute;
  bottom:0;
  margin: 0 auto;
  text-align: center;
  font-size:25px;
  width:92.5%;
}
.imglink a{
  color:white;
}
.imglink.img-responsive{
  position:relative;
  align-self: auto;
}

/* background image method CSS
.first{
  background-image: url("../img/samplechristmas.jpg");
  background-position: cover;
  height:200px;
  background-repeat: no-repeat;
  color:white;
}
*/
