body{
  background-color:#E5E6E8;
  font-family: 'Cabin Condensed', sans-serif;
}

h1 {
      font-size: 32px;
    }

h2 {
    font-size: 26px;
    }

h3{
    font-size: 20px;
}
#social-buttons{
  text-align: center;
  color: white;
}
#header {
    /*background: #ABB2B9;*/
    background: url("../img/londonimg.jpg");
    background-size: cover;
    text-align: center;
    height: 200px;
    padding-right: 0;
    }
    p {
      text-align:justify;
      }

.btn-twitter{
        background: #00acee;
        border-color: #009ad5;
      }
.btn-facebook{
        background: #4868ac;
        border-color: #314776;
      }
/*
@media only screen and (min-width: 768px) and (max-width: 1000px) {
        .container {
          width: 768px;
        }
      }
@media only screen and (max-width: 767px) {
        .container {
          width: 420px;
        }
      }
@media only screen and (max-width: 480px) {
        .container {
          width: 300px;
      }
/* Marianne's CSS starts here */


header li{
      display:inline;
      font-size:30px;
      padding: 0px 50px 0px 50px;
    }
ul.nav li{
      display:inline;
      font-size:30px;
      padding: 0px 50px 0px 50px;
    }
ul.nav a{
  display:inline;
  color:white;
}
.carousel-caption p{
  text-align:center;
  font-size:30px;
}
.carousel-caption h3{
  font-size:42px;
  text-align:center;
}
#links{
  display:flex;
  flex-wrap:wrap;
}
.navbar{
  position:fixed;
}
.jumbotron {
          background-size:cover;
          background-position:center;
          background-repeat:no-repeat;
          min-height: 200px;
          color: black;
  }

.jumbotron h1{
  font-size:80px;
}
.item{
  height: 500px;
  width:auto;
  object-fit:cover;
}
.item-active{
  height:500px;
  object-fit:contain;
}
nav{
  z-index:2;
}
col-sm-4{
  padding: 10px 10px 30px 10px;
}
.imglink p{
  opacity: 0.8;
  background-color:grey;
  color: white;
  position: absolute;
  bottom:0;
  margin: 0 auto;
  text-align: center;
  font-size:25px;
  width:92.5%;
}

.imglink a{
  color:white;
}
.imglink.img-responsive{
  position:relative;
  align-self: auto;
}

#social-buttons{
  z-index:2;
}

/* background image method CSS
.first{
  background-image: url("../img/samplechristmas.jpg");
  background-position: cover;
  height:200px;
  background-repeat: no-repeat;
  color:white;
}
*/
