
body {
    font-family: 'Cabin Condensed', sans-serif;
    background:#F2F2F2;
    }

h1 {
      font-size: 32px;
    }

h2 {
    font-size: 26px;
}

h3{
      font-size: 20px;
      }

p {
  text-align:justify;
  }

#header {
    background: #99ccff;
    text-align: center;
    height: 120px;
    }

#social-buttons{
  text-align: center;
  color: white;
}

.btn-twitter{
  background: #00acee;
  border-color: #009ad5;
}
.btn-facebook{
  background: #4868ac;
  border-color: #314776;
}


@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .container {
    width: 768px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 420px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 300px;
}
}




  }
}
